@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');
body {
scroll-behavior: smooth;
font-family: 'Anonymous Pro';
background-image: url(https://i1.beon.fun/55/16/1655/2/1335802/starz.png), linear-gradient(0deg, #a07aa4, #ddcbdf, #a47aa9);
background-size: 100%;
animation: STAR 300s linear infinite;
        background-repeat: repeat;
}
@keyframes STAR {
0% { 
background-position: 500px 1000px, 0 0 }
100% { 
background-position: 0 0, 0 0
}
}
@media (max-width: 768px){
/*--------------------Features--------------------*/

* {
text-decoration: unset;
}
.noUpdates, a:link, span, a.copyright:link, a:visited {
    transition: all 0.2s ease-in;
    text-decoration: unset;
    color: #ffffff;
}
img.menu_icon,button.btn.btn-outline-success:before {
display: none;	
}
[onclick="window.scrollTo(0,100000); return false;"]:after {
        background: url(https://i1.beon.fun/55/16/1655/38/1337138/shooting-star_9204856.png);
        width: 40px;
        height: 55px;
        transform: rotate(0deg);
        background-size: 40px, auto;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        filter: hue-rotate(330deg) drop-shadow(3px 3px 5px #febf55) brightness(1.1);
        content: "";
        display: block;
    }	
 a:link:hover {
 filter: drop-shadow(2px 2px 3px #f5c359);
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border: solid #3d2625 1px;
    color: #3d2625;
    font-size: 12px;
    background: linear-gradient(#c08bc6, #fefaf096);
    font-weight: bolder;
}
.page-item:first-child .page-link:hover, .page-item:last-child .page-link:hover {
background: #5c4259;
}
::selection{
background: #5c4259;
color: white;
}
#mobile_menu {
    background: transparent;
}
#mobile_menu .menu_item_dropdown a {
    background: linear-gradient(#c08bc6, #a474a9);
    color: #3d2625;
    text-transform: uppercase;
    border: none;
    padding: 10px;
}	
#mobile_photo_wrap {
    text-align: center;
    padding: 7px;
    border: solid #3d2625 1px;
    color: #3d2625;
    font-weight: bolder;
    background: linear-gradient(#c08bc6, #fefaf096);
}
::-webkit-scrollbar
		{
			width: 10px;
			height: 10px;

		}
		::-webkit-scrollbar-thumb
		{
			background:#924e99 ;
		}
		::-webkit-scrollbar-track
		{
margin: 1%;
			background: linear-gradient(#c08bc6, #fefaf096);
			background-clip: content-box;
		}

body > table > tbody > tr > td > div > a:nth-child(5){
    filter: drop-shadow(2px 2px 3px #f5c359);
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
[onclick="scrolltop(); return false;"]:before {
content: "";
display: block;
    background: url(https://i1.beon.fun/55/16/1655/38/1337138/shooting-star_9204856.png);
    width: 40px;
    height: 55px;
    transform: rotate(180deg);
    background-size: 40px, auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    filter: hue-rotate(330deg) drop-shadow(3px 3px 5px #febf55) brightness(1.1);
}
[onclick="scrolltop(); return false;"]:hover:before{
animation: til-shaking ease 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: infinite;
}
@keyframes til-shaking {
  0% { transform: rotate(180deg); }
  25% { transform: rotate(185deg); }
  50% { transform: rotate(180eg); }
  75% { transform: rotate(175deg); }
  100% { transform: rotate(180deg); }
}
.modal-content, #TB_window {
    background: #d7c1d7;
    background-image: linear-gradient(to bottom, #3d262529 1px, #d7c1d700 1px);
    background-size: 1px 21px;
    padding: 15px;
    border: solid 3px #3d2625;

}
.modal-header .close {
    padding: 2px 6px 2px 6px;
    margin: unset;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------------BG--------------------*/

 .body {
    background: url(https://i1.beon.fun/55/16/1655/36/1337036/kuromia.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: right top;
padding: 0px;
    padding-top: 45px;
}
/*--------------------.py-4--------------------*/
#content_flex {
    display: flex;
    flex-direction: column;
}
.top_header {
        box-shadow: unset;
        border-bottom: unset;
        background: transparent;
        border-image-slice: 85 90 160 95 fill;
        border-image-width: 85px 90px 160px 95px;
        border-image-outset: 30px 30px 10px 0px;
        border-image-repeat: stretch;
        border-image-source: url(https://i1.beon.fun/55/16/1655/16/1336316/pcmn.png);
        border-style: solid;
        filter: drop-shadow(2px 2px 3px #f5c359);
        width: 98.5%;
}
.navbar {
    justify-content: flex-start;
}
.top_header [href="./"]:before {
        content: 'Beon.vip';
        font-size: 22px;
        font-weight: bold;
        color: black;
}
div.portal_spacer {
    height: 0px;
}
a.top_menu_item:link, ul.seBlogCategoryList {
    color: #3d2625;
    font-weight: bolder;
        filter: drop-shadow(2px 2px 3px #f5c359d9);
}
    a.top_menu_item:link:before, a.top_menu_item:link:visited:before {
        content: "✩༉";
        font-weight: bold;
        padding-left: 5px;
        color: #fbca77;
        font-size: 12px;
        text-shadow: 0px 1px #ceb6d1;
}
div.menu_item_dropdown a {
    background: #ceb6d1;
    border: outset 2px #b07fab;
    color: white;
    font-weight: bolder;
}
div.menu_item_dropdown a:hover {
    color:#b07fab;
}
div#designs {
 border: solid #3d2625 1px;
    background-color: #c390c6;
}

button.btn.btn-primary, button.btn.btn-secondary, button:not(:disabled), input#comment_submit, [type="submit"]:not(:disabled), [type="button"]:not(:disabled){
    padding: 7px;
    border: solid #3d2625 1px;
    color: #3d2625;
    font-weight: bolder;
    background: linear-gradient(#c08bc6, #fefaf096);
}
button.btn.btn-primary:hover,  button#newupdates:hover, input#comment_submit:hover{
transform: translateY(1px);
text-decoration: unset;
    color: #3d2625;
    background: linear-gradient(#c08bc6, #fefaf096);
}
button#newupdates {
    border: solid #3d2625 1px;
    color: #3d2625;
    padding: 5px;
    font-weight: bolder;
    background: linear-gradient(#c08bc6, #fefaf096);
}
    button.btn.btn-outline-success {
        height: 40px;
        width: 40px;
position: absolute;
        right: 5px;
    }

button.navbar-toggler, button.navbar-toggler:hover {
        opacity: 1;
        height: 33px;
        width: 33px;
background:  url(https://beon.vip/uploads_user/3000/2587/a5dda89f179945b611162edd0fa8300f.png), linear-gradient(#c08bc6, #fefaf096)no-repeat center / 32px;
    }
span.navbar-toggler-icon {
        background: url(https://beon.vip/uploads_user/3000/2587/a5dda89f179945b611162edd0fa8300f.png);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: top left;
    }
nav.navbar.navbar-expand-lg.navbar-light.bg-light.top_menu.top_mobile_menu {
    background: linear-gradient(#c08bc6, #fefaf096);
        filter: drop-shadow(2px 2px 3px #f5c359);
}
[src="./images/logo_new.png"] {
        height: 0px;
    }
[src="./images/logo_new.png"]:after {
content:'Beon';
}

span#notify_total {
    background: #000000;
    width: 15px;
    height: 15px;
}
/*--------------------content--------------------*/

div.content {
    padding: 0px 0px 20px 0px;
}
.post_text.pl-3 p, .group_desc p, html>body .profile_comment_body {
    color: #372935;
    font-size: 14px;
}
div#righthome {
    padding: 0;
}
.post_container, div[id^="comment_"] {
        background: linear-gradient(45deg, #b587ae, #c59fb8);
    padding: 5px;
    border: outset 2px #b07fab;
}
.seBlogComments {
margin-top: 50px;
}
div#user_status, .blog_user_status {
    color: #5c4259;
}
.post_image img, .seBlogComments img.photo {
max-height: 70px;
max-width: 70px;
min-width: 70px;
min-height: 70px;
object-fit: cover;
}
#user_status {
    margin-top: 10px;

}
/* статичный вид */
.post_image a:before,div[id^="comment_"]:not(a) > div:nth-child(1) > div:nth-child(1) > a:before{
content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-image: url(https://i1.beon.fun/55/16/1655/50/1335750/b45e71b8-a539-4ce8-95ef-2357d82cbfcc_removalai_preview.png), linear-gradient(0deg, #a07aa473, #ddcbdf85, #a47aa978);
    background-size: 101px 23px, 100px 105px;
    background-position: 0px -5px, 0px 0px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
    border: solid #b07fab 3px;
}
div[id^="comment_"] {
    margin-bottom: 15%!important;}
div[id^="comment_"] > div:nth-child(1){
    margin-top: 0px;
}
.profile_comment_author {
        z-index: 9;
        font-weight: normal;
        border-image-slice: 55 57 5 90 fill;
        border-image-width: 27px 30px 3px 45px;
        border-image-outset: 10px 4px 0px 5px;
        border-image-repeat: stretch stretch !important;
        border-image-source: url(https://i1.beon.fun/55/16/1655/2/1336302/HEADDER.png);
        border-style: solid;
        filter: drop-shadow(2px 2px 3px #f5c359d9);
        color: #5c4259;
        position: absolute;
        margin-top: -40px;
        left: 0;
        width: 100%;
}
.profile_comment_author a{
color: white;
        font-weight: bolder;
}
 h6.card-subtitle.mb-2.text-muted.post_date {
    line-height: 2;
    border-image-slice: 55 57 5 90 fill;
    border-image-width: 23px 28px 3px 45px;
    border-image-outset: 5px 10px 0px 10px;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://i1.beon.fun/55/16/1655/2/1336302/HEADDER.png);
    border-style: solid;
    filter: drop-shadow(2px 2px 3px #f5c359d9);
   color: #5c4259;
}
.like_button:before, p.card-link.post_views:before, p.card-link.post_comments a:before, [onclick^="more_menu"]:before, p.card-link:before, a.commentReply, .commentDeleteLink:before, a.commentReply:before, [onclick^="newmessage"]:before, .commentEditLink:before, p.card-link.grouppost_comments:before, div.category  a, .like_button.liked+span {
   color: #5c4259;
}
div.category  a:before{
content: "✩༉";
    font-weight: bold;
    padding-left: 5px;
    color: #fbca77;
    font-size: 12px;
    text-shadow: 0px 1px #ceb6d1;
}
.card-title {
    margin-bottom: 0.75rem;
    filter: drop-shadow(2px 2px 3px #f5c359);
        font-size: 16px;
}
[id^="grouptopic_"][id$="_postcomment"], [id^="blog"][id$="_postcomment"] {
    position: relative;
    border-image-slice: 55 57 5 90 fill;
    border-image-width: 36px 38px 4px 60px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://i1.beon.fun/55/16/1655/2/1336302/HEADDER.png);
    border-style: solid;
    filter: drop-shadow(2px 2px 3px #f5c359d9);
    background: transparent;
padding: 5px;
    color: white;
}
a#attach_file_click {
        right: 35px;
    }
.comment_headline, .profile_postcomment, div.profile_postcomment {
    border: unset;
}
textarea#comment_body {
    background: #d7c1d7;
    border: unset;
}
/*--------------------left-menu--------------------*/
.show_menu.header-orange {
    background: linear-gradient(#c08bc6, #fefaf096);
    font-size: 20px;
    font-weight: bolder;
}
.blog_leftsearch input[type="text"] {
    border: solid #3d2625 1px;
    color: #3d2625;
    font-size: 16px;
    background: linear-gradient(#c08bc6, #fefaf096);
}

.seBlogColumnRightPadding > div {
}
div#lefthome .card {
        background: #ceb6d1;
        background-image: linear-gradient(#c6b0c9, #b07fab);
        border: outset 2px #b07fab;
}
div.left_category_block > div > div.card-body {
filter: drop-shadow(2px 2px 3px #f5c359);
}
.card-header {
        color: #ffffff;
        padding: 20px 0px 30px 0px;
        border-image-slice: 46 74 0 40;
        border-image-width: 23px 37px 0px 20px;
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: round round;
        border-image-source: url(https://i1.beon.fun/55/16/1655/50/1335750/b45e71b8-a539-4ce8-95ef-2357d82cbfcc_removalai_preview.png);
        border-style: solid;
        text-align-last: center;
        font-size: 28px;
        font-weight: bolder !important;
        background-color: transparent !important;
        filter: drop-shadow(2px 2px 3px #f5c359);
}
div.card.p-1 {
display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
div.card.p-1:hover {
display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.card-body {
    padding: 5px 10px 40px 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_leftprofile {
display: block;
        text-align: center;
        width: 100%;
        margin-top: 3px;
        text-align-last: center;
        color: white;
        font-size: 24px;
        font-weight: bolder !important;
        background-color: transparent !important;
        filter: drop-shadow(2px 2px 3px #f5c359);
        margin-top: 10px;
        margin-bottom: 35px;
        border-image-slice: 46 74 0 40;
        border-image-width: 23px 37px 0px 20px;
        border-image-outset: 10px 0px 0px 0px;
        border-image-repeat: round round;
        border-image-source: url(https://beon.vip/uploads_image/9a/f1/9af1bfe93753917eeea98f5852079575.png);
        border-style: solid;
        padding: 10px;
}

div.blog_leftphoto > a {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.blog_leftprofile a {
color: white;
        padding: 30px 10px 30px 10px !important;
}

::marker  {
color: transparent;
}
blockquote.blockquote {
    border-color: #924e99;
}
}

@media (min-width: 768px) {
/*--------------------Features--------------------*/

* {
outline: 0;
text-decoration: unset!important;
}
.noUpdates, a:link, span, a.copyright:link, a:visited {
    transition: all 0.2s ease-in;
    text-decoration: unset;
    color: #ffffff;
}
img.menu_icon2 {
display: none;	
}
 a:link:hover {
 filter: drop-shadow(2px 2px 3px #f5c359);
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    border: solid #3d2625 1px;
    color: #3d2625;
    font-size: 12px;
    background: linear-gradient(#c08bc6, #fefaf096);
    font-weight: bolder;
}
.page-item:first-child .page-link:hover, .page-item:last-child .page-link:hover {
background: #5c4259 !important;
}
::selection{
background: #5c4259 !important;
color: white;
}
::-webkit-scrollbar
		{
			width: 10px;
			height: 10px;

		}
		::-webkit-scrollbar-thumb
		{
			background:#924e99 !important;
		}
		::-webkit-scrollbar-track
		{
margin: 1%;
			background: linear-gradient(#c08bc6, #fefaf096);
			background-clip: content-box;
		}
[onclick="scrolltop(); return false;"]{
height: 1px;
    width: 1px;
    display: block;
}
[onclick="window.scrollTo(0,100000); return false;"]:after{
        background: url(https://i1.beon.fun/55/16/1655/38/1337138/shooting-star_9204856.png);
        width: 40px;
        height: 55px;
        transform: rotate(0deg);
        background-size: 40px, auto;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        filter: hue-rotate(330deg) drop-shadow(3px 3px 5px #febf55) brightness(1.1);
        content: "";
        display: block;
}
[onclick="window.scrollTo(0,100000); return false;"]:hover:after {
 animation: tilt-shaking ease 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: infinite;
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
[onclick="scrolltop(); return false;"]:before {
content: "";
display: block;
    background: url(https://i1.beon.fun/55/16/1655/38/1337138/shooting-star_9204856.png);
    width: 40px;
    height: 55px;
    transform: rotate(180deg);
    background-size: 40px, auto;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    filter: hue-rotate(330deg) drop-shadow(3px 3px 5px #febf55) brightness(1.1);
}
[onclick="scrolltop(); return false;"]:hover:before{
animation: til-shaking ease 0.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: infinite;
}
@keyframes til-shaking {
  0% { transform: rotate(180deg); }
  25% { transform: rotate(185deg); }
  50% { transform: rotate(180eg); }
  75% { transform: rotate(175deg); }
  100% { transform: rotate(180deg); }
}
.modal-content {
    background: #d7c1d7;
    background-image: linear-gradient(to bottom, #3d262529 1px, #d7c1d700 1px);
    background-size: 1px 21px;
    padding: 15px;
    border: solid 3px #3d2625;

}
.modal-header .close {
    padding: 2px 6px 2px 6px !important;
    margin: unset;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------------BG--------------------*/
.body {
    background: url(https://i1.beon.fun/55/16/1655/36/1337036/kuromia.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 45%;
    background-position: right top;
}
/*--------------------.py-4--------------------*/
#content_flex {
    display: flex;
    flex-direction: column;
}
.top_header {
        box-shadow: unset !important;
        border-bottom: unset;
        background: transparent;
        border-image-slice: 85 90 160 95 fill;
        border-image-width: 85px 90px 160px 95px;
        border-image-outset: 30px 30px 10px 0px;
        border-image-repeat: stretch;
        border-image-source: url(https://i1.beon.fun/55/16/1655/16/1336316/pcmn.png);
        border-style: solid;
        filter: drop-shadow(2px 2px 3px #f5c359);
        width: 98.5%;
}



[src="./images/logo_new.png"] {
    display: none !important;
}
.top_header [href="./"]:before {
        content: 'Beon.vip';
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        line-height: 3;
        border-image-slice: 46 74 0 40;
        border-image-width: 33px 51px 0px 28px;
        border-image-outset: 41px 51px 0px 28px;
        border-image-repeat: round round;
        border-image-source: url(https://beon.vip/uploads_image/9a/f1/9af1bfe93753917eeea98f5852079575.png);
}
a.top_menu_item:link {
    color: #3d2625;
    font-weight: bolder !important;
}
    a.top_menu_item:link:before, a.top_menu_item:link:visited:before {
        content: "✩༉";
        font-weight: bold;
        padding-left: 5px;
        color: #fbca77!important;
        font-size: 12px;
        text-shadow: 0px 1px #ceb6d1;
}
div.menu_item_dropdown a {
    background: #ceb6d1!important;
    border: outset 2px #b07fab!important;
    color: white !important;
    font-weight: bolder;
}
div.menu_item_dropdown a:hover {
    color:#b07fab!important;
}

button.btn.btn-primary, button.btn.btn-secondary, button:not(:disabled), input#comment_submit{
    padding: 7px;
    border: solid #3d2625 1px;
    color: #3d2625;
    font-weight: bolder;
    background: linear-gradient(#c08bc6, #fefaf096);
}
button.btn.btn-primary:hover, button:not(:disabled):hover, button#newupdates:hover, input#comment_submit:hover{
transform: translateY(1px) !important;
text-decoration: unset!important;
    color: #3d2625;
    background: linear-gradient(#c08bc6, #fefaf096)!important;
}
button#newupdates {
    border: solid #3d2625 1px!important;
    color: #3d2625!important;
    padding: 5px!important;
    font-weight: bolder;
    background: linear-gradient(#c08bc6, #fefaf096)!important;
}

/*--------------------content--------------------*/
.post_text.pl-3 p, .group_desc p, html>body .profile_comment_body {
    color: #372935 !important;
    font-size: 18px;
}
div#righthome {
    padding: 0;
    padding-left: 10px;
    margin-top: 160px;
}
.post_container, div[id^="comment_"] {
 background:#ceb6d1;
    padding: 15px;
    border: outset 2px #b07fab;
}

.post_image img, .seBlogComments img.photo {
max-height: 100px!important;
min-width: 100px;
object-fit: cover;
}
#user_status {
    margin-top: 10px;
}
/* статичный вид */
.post_image a:before,div[id^="comment_"]:not(a) > div:nth-child(1) > div:nth-child(1) > a:before{
content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-image: url(https://i1.beon.fun/55/16/1655/50/1335750/b45e71b8-a539-4ce8-95ef-2357d82cbfcc_removalai_preview.png), linear-gradient(0deg, #a07aa473, #ddcbdf85, #a47aa978);
    background-size: 101px 23px, 100px 105px;
    background-position: 0px -5px, 0px 0px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-top: 0px;
    border: solid #b07fab 3px;
}
div[id^="comment_"] {
    margin-bottom: 5%!important;}
div[id^="comment_"] > div:nth-child(1){
    margin-top: 0px!important;
}
.profile_comment_author {
        z-index: 9;
        position: sticky;
    padding: 15px !important;
}
.profile_comment_author a{
color: white!important;
        font-weight: bolder;
}
.profile_comment_date, h6.card-subtitle.mb-2.text-muted.post_date {
    line-height: 3;
    border-image-slice: 55 57 5 90 fill;
    border-image-width: 36px 38px 4px 60px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://i1.beon.fun/55/16/1655/2/1336302/HEADDER.png);
    border-style: solid;
    filter: drop-shadow(2px 2px 3px #f5c359d9);
padding: 3px 0px 0px 10px !important;
   color: #5c4259;
}
.like_button:before, p.card-link.post_views:before, p.card-link.post_comments a:before, [onclick^="more_menu"]:before, p.card-link:before, a.commentReply, .commentDeleteLink:before, a.commentReply:before, [onclick^="newmessage"]:before, .commentEditLink:before, p.card-link.grouppost_comments:before, div.category  a, .like_button.liked+span {
   color: #5c4259!important;
}
div.category  a:before{
content: "✩༉";
    font-weight: bold;
    padding-left: 5px;
    color: #fbca77;
    font-size: 12px;
    text-shadow: 0px 1px #ceb6d1;
}
.card-title {
    margin-bottom: 0.75rem;
    filter: drop-shadow(2px 2px 3px #f5c359);
}
[id^="grouptopic_"][id$="_postcomment"], [id^="blog"][id$="_postcomment"] {
    position: relative;
    border-image-slice: 55 57 5 90 fill;
    border-image-width: 36px 38px 4px 60px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(https://i1.beon.fun/55/16/1655/2/1336302/HEADDER.png);
    border-style: solid;
    filter: drop-shadow(2px 2px 3px #f5c359d9);
    background: transparent;
    color: white;
}
.comment_headline, .profile_postcomment {
    border: unset!important;
}
textarea#comment_body {
    background: #d7c1d7;
    border: unset;
}
/*--------------------left-menu--------------------*/
.blog_leftsearch input[type="text"] {
    border: solid #3d2625 1px;
    color: #3d2625;
    font-size: 16px;
    background: linear-gradient(#c08bc6, #fefaf096);
}
.seBlogColumnRightPadding {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, auto));
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
    border: unset !important;
    min-width: 160px;
    width: auto;
    position: absolute;
    overflow-x: inherit;
    z-index: 10;
    margin-top: 60px;
}
.seBlogColumnRightPadding > div {
margin-bottom: 40px;
    border-image-slice: 45 75 120 75 fill;
    border-image-width: 30px 50px 80px 50px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round;
    border-image-source: url(https://i1.beon.fun/55/16/1655/39/1335939/framep.png);
    border-style: solid;
 height: 100px;
    overflow: hidden;
    display: table-caption;
width: 160px;
    padding-bottom: 40px;
transition:width .15s linear .15s, height .15s linear .15s;
}
div#lefthome .card {
    padding: 0 !important;
    border-radius: 0px !important;
    border-color: transparent;
}
 div.card.blog_categories {
max-width: 400px!important;
}

.seBlogColumnRightPadding > div:hover {
height: auto;
    max-height: fit-content!important;
    overflow: visible;
    max-width: none;
    max-height: none;
    width: fit-content;
    height: 100%;
display: block;
z-index: 0;
transition:width .15s linear .15s, height .15s linear .15s;
}
.card-header {
        color: #ffffff;
        padding: 30px 0px 30px 0px!important;
        border-image-slice: 46 74 0 40;
        border-image-width: 33px 51px 0px 28px;
        border-image-outset: 5px 0px 0px 0px;
        border-image-repeat: round round;
        border-image-source: url(https://i1.beon.fun/55/16/1655/50/1335750/b45e71b8-a539-4ce8-95ef-2357d82cbfcc_removalai_preview.png);
        border-style: solid;
        text-align-last: center;
        font-size: 20px;
        font-weight: bolder !important;
        background-color: transparent !important;
        filter: drop-shadow(2px 2px 3px #f5c359);
}
div.card.p-1 {
display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
div.card.p-1:hover {
display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.card-body {
    padding: 5px 10px 40px 10px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog_leftprofile {
display: block;
        text-align: center;
        width: 100%;
        margin-top: 3px;
        text-align-last: center;
        color: white;
        font-size: 15px;
        font-weight: bolder !important;
        background-color: transparent !important;
        filter: drop-shadow(2px 2px 3px #f5c359);
        margin-top: 10px;
        margin-bottom: 35px;
        border-image-slice: 46 74 0 40;
        border-image-width: 33px 51px 0px 28px;
        border-image-outset: 15px 0px 0px 0px;
        border-image-repeat: round round;
        border-image-source: url(https://beon.vip/uploads_image/9a/f1/9af1bfe93753917eeea98f5852079575.png);
        border-style: solid;
        padding: 10px;
}

div.blog_leftphoto > a {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.blog_leftprofile a {
color: white;
        padding: 30px 10px 30px 10px !important;
}
a.menu_item:link {
    color: #fffdfe!important;
    font-weight: bolder;
    font-size: 16px;
    text-transform: uppercase;
}
a.menu_item:link:hover{ 
 color: #5c4259!important;
}
::marker  {
color: transparent;
}
blockquote.blockquote {
    border-color: #924e99;
}
span#notify_total {
    height: 30px;
    min-width: 31px;
background: black;
}
div#designs {
 border: solid #3d2625 1px;
    background-color: #c390c6;
}
}
